
torch==2.8.0
torchvision==0.23.0
accelerate==1.13.0

huggingface_hub==1.8.0

langchain-core==1.2.25
langgraph==1.1.4
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.12
langsmith==0.7.24

matplotlib==3.10.8

numpy==2.4.4

PyYAML==6.0.3

scikit-learn
scipy

tqdm==4.67.3
transformers==5.5.0

